$input-bg: royalblue;
$input-bg-active: darken(royalblue, 15%);
$input-border: lightgray;

@font-face {
    font-family: 'Press Start 2P - Fallback';
    src: url('/assets/fonts/PressStart2P-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section {
    z-index: 10;
}

input[type='text'],
input[type='number'] {
    border: 2px solid $input-border;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

input[type='radio'] {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 1px solid $input-border;
    transition: background-color 0.15s ease;
    margin: 0 0.25rem 0 0.75rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:active {
        background-color: $input-border;
    }

    &:checked {
        background: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="2" fill="%23fff"/%3e%3c/svg%3e')
                center/contain no-repeat,
            $input-bg;

        &:active {
            background-color: $input-bg-active;
        }
    }
}

input[type='checkbox'] {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid $input-border;
    transition: background-color 0.15s ease;
    margin-right: 0.35rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:active {
        background-color: $input-border;
    }

    &:checked {
        background: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3e%3cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 10l3 3l6-6"/%3e%3c/svg%3e')
                center/contain no-repeat,
            $input-bg;

        &:active {
            background-color: $input-bg-active;
        }
    }
}

input[type='range'] {
    height: 0.25rem;
    border-radius: 1rem;
    border: 2px solid $input-border;
    background-color: $input-border;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        background-color: $input-bg;
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        transition: background-color 0.15s ease;

        &:active {
            background-color: $input-bg-active;
        }
    }

    -webkit-appearance: none;
    appearance: none;
}

h2 {
    text-align: center;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-align-center {
    align-items: center;
}

.flex-y-gap {
    margin-top: -0.5rem !important;
    margin-bottom: -0.5rem !important;

    > * {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.flex-x-gap {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;

    > * {
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: stretch;
    align-items: center;
    margin-top: 1.5rem;
    transition: background-color 0.25s linear;

    &:before {
        content: '';
        display: block;
        height: 1rem;
        width: 1rem;
        transition: transform 0.25s linear;
        background: transparent center/contain no-repeat;
    }

    &:hover {
        text-decoration: underline;

        &:before {
            transform: scale(1.25, 1.25);
        }
    }
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}

.hidden {
    display: none !important;
}

@media screen {
    * {
        outline: none;
    }
}
