#game {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.notification {
    position: absolute;
    top: 1.5rem;
    left: auto;
    right: auto;
    color: white;
    padding: 1rem 2.5rem;
    font-size: 1.15rem;
    margin: 0 auto;
    font-family: 'Press Start 2P', 'Press Start 2P - Fallback', cursive;
    background-color: rgba(0, 0, 0, 0.75);
    border: 0.25rem white;
    border-style: groove dashed;
}

.fade-out {
    transition: opacity 3.5s linear;
    opacity: 0;
}
